nav {
  display: flex;
  flex-direction: column;
  height: 98vh;
  max-width: 300px;
  background-color: #ffcc00;
  position: fixed;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center;
  margin: 30px;
  gap: 50px;
}
nav ul a {
  text-decoration: none;
  color: black;
  font-size: larger;
  position: relative;
  padding: 5px 0;
}

nav ul a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f9f8f6;
  transition: width 0.3s ease;
}

nav ul a:hover::after {
  width: 100%;
  left: 80%;
  transform: translateX(-80%);
}
#home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin-left: 245px;
  background-color: #f4f4f4;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#home span {
  color: #ff8400;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: -20px;
}
#home p {
  font-size: x-large;
}
#resume {
  margin-top: 60px;
  margin-left: 0px;
  width: 200px;
  padding: 12px 16px;
  border: 2px solid #ffcc00;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
#resume a {
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: black;
}
#resume:hover {
  background-color: #ffcc00;
  color: white;
  transform: translateY(-5px);
}
#aboutme {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  height: 80vh;
  margin-left: 245px;
}
#me {
  text-decoration: underline;
  color: #808080;
  text-align: center;
  font-size: 40px;
}
#about {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: space-evenly;
}
#about p {
  width: 700px;
}
#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin-left: 245px;
  background-color: #f4f4f4;
}
#education > h1 {
  text-decoration: underline;
  color: #808080;
  text-align: center;
  margin-bottom: 160px;
  font-size: 40px;
}
#edu {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
}
#edu1 {
  display: flex;
  flex-direction: column;
  width: 700px;
}
#edu1 > span {
  font-size: x-large;
  font-weight: bolder;
}
.stream {
  font-size: larger;
  font-style: oblique;
}
.pass {
  font-size: large;
  font-style: oblique;
}
#proj {
  font-family: "Roboto", sans-serif;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 245px;
}
#head {
  text-align: center;
  text-decoration: underline;
  color: #808080;
  font-size: 40px;
}
#projets {
  display: flex;
  width: 90%;
  height: 90vh;
  margin: 30px;
  margin-left: 50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  gap: 3%;
  box-sizing: border-box;
}

#pro01,
#pro02 {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#pro01 p,
#pro02 p {
  margin-bottom: 0px;
  font-size: medium;
}
#pro01 h1,
#pro02 h1 {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(64, 64, 149);
  color: white;
}
#pro01 h3,
#pro02 h3 {
  text-align: center;
  color: rgb(220, 171, 26);
}
#contact {
  background-color: #f4f4f4;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-left: 245px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 10px;
  text-align: left;
}
#contact h1 {
  text-align: center;
  text-decoration: underline;
  color: #808080;
  font-size: 40px;
}
.social-links {
  flex: 1;
  margin: 30px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
}

.social-links p {
  display: inline-block;
  font-size: x-large;
  color: #333;
  margin: 10px 0;
}

.social-links a {
  display: inline-block;
  font-size: x-large;
  color: #0056b3;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
}

.contact-form p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0056b3;
  outline: none;
}

.contact-form button {
  padding: 15px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.contact-form button:hover {
  background-color: #003d7a;
}
footer {
  margin-bottom: -3px;
  margin-left: 245px;
  line-height: 10vh;
  background-color: rgb(100, 93, 93);
  text-align: center;
  border-bottom-right-radius: 15px;
}
footer > a {
  color: white;
  font-size: large;
  padding-left: 80px;
}
@media (max-width: 768px) {
  nav {
    max-width: 100%;
    height: auto;
    position: relative;
  }

  nav ul {
    flex-direction: row;
    height: 30px;
    justify-content: space-around;
    margin: 4px;
    gap: 15px;
    margin-left: -25px;
  }
  nav > img {
    max-height: 350px;
  }

  nav ul a {
    font-size: medium;
  }

  #home {
    margin-left: 0;
    height: auto;
  }
  #aboutme {
    margin-left: -0px;
    width: 100%;
  }
  #me {
    margin-left: 8px;
  }
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 0;
    height: 60vh;
  }
  #about p {
    width: 400px;
  }
  #education {
    left: 0px;
    background-color: white;
  }
  #education > h1 {
    margin-left: -288px;
    margin-bottom:30px ;
  }
  #edu {
    flex-direction: column;
    margin-left: 30px;
  }
  #edu img {
    visibility: hidden;
  }
  #edu1 > span {
    font-size: medium;
    font-weight: bolder;
  }
  .stream {
    font-size: medium;
    font-style: oblique;
  }
  .pass {
    font-size: medium;
    font-style: oblique;
  }
  #proj {
    margin-left: 0;
    height: auto;
  }

  #proj h1 {
    font-size: 2rem;
    margin-left: 8px;
  }

  #projets {
    flex-direction: column;
    height: auto;
    margin: 10px;
    margin-left: -0px;
    padding: 15px;
    box-shadow: none;
  }

  #pro01,
  #pro02 {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
  }

  #pro01 h1,
  #pro02 h1 {
    font-size: 1.5rem;
  }

  #pro01 h3,
  #pro02 h3 {
    font-size: 1rem;
  }
  #contact {
    margin-left: 0px;
    height: 125vh;
  }
  #contact h1 {
    margin-left: -10px;
  }
  .contact-form {
    margin-left: -20px;
  }
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .social-links {
    margin-left: -15px;
    flex: none;
    width: 100%;
  }

  footer {
    width: 100%;
    margin-left: 0;
    text-align: center;
    border-bottom-left-radius: 15px;
  }

  footer > a {
    padding-left: 0;
  }
}
